.profile {
  padding: 74px 70px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__title {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
}

.profile__form {
  margin-top: 123px;
  display: flex;
  flex-direction: column;
}

.profile__input-container {
  width: 410px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  margin-top: 17px;
  border-bottom: 1px solid #E8E8E8;
}

.profile__input-container:nth-last-of-type(2) {
  border-bottom: none;
  margin-bottom: 220px;
}

.profile__input-placeholder {
  font-weight: 500;
  font-size: 11px;
}

.profile__input {
  width: 75%;
  text-align: right;
  font-weight: normal;
  font-size: 11px;
  border: none;
  transition: background-color .4s;
}

.profile__input:focus {
  outline: none;
}

.profile__input:hover {
  background-color: #fcf7f7;
  border-radius: 5px;
}

.profile__message-from-server {
  font-size: 13px;
  color: #EE3465;
  text-align: center;
}

.profile__button-edit {
  font-weight: normal;
  font-size: 13px;
  align-self: center;
  background: none;
  border: none;
  transition: opacity .4s;
}

.profile__button-edit_disabled {
  color: #808080;
}

.profile__button-edit:hover {
  cursor: pointer;
  opacity: 0.6;
}

.profile__button-edit_disabled:hover {
  cursor: not-allowed;
  opacity: 1;
}

.profile__button-exit {
  margin-top: 16px;
  font-weight: 500;
  font-size: 13px;
  color: #EE3465;
  background: none;
  border: none;
  transition: opacity .4s;
}

.profile__button-exit:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .profile {
    padding: 70px 30px 40px;
  }

  .profile__form {
    margin-top: 80px;
  }

  .profile__input-container {
    width: 260px;
  }
}