.page-404 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-404__title {
  margin: 0;
  font-weight: normal;
  font-size: 140px;
}

.page-404__description {
  margin: 5px 0 0;
  font-weight: normal;
  font-size: 16px;
}

.page-404__link {
  position: absolute;
  bottom: 60px;
  color: #FF6838;
  font-weight: normal;
  font-size: 14px;
  transition: opacity .3s;
}

.page-404__link:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 1279px) {
  .page-404__link {
    bottom: 222px;
  }
}