.portfolio {
  padding: 0 70px 125px;
}

.portfolio__title {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #A0A0A0;
}

.portfolio__webpages {
  list-style-type: none;
  padding: 0;
  margin: 50px 0 0;
}

.portfolio__webpage {
  border-bottom: 1px solid #E8E8E8;;
  padding-bottom: 19px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio__webpage:last-child {
  margin-bottom: 0;
}

.portfolio__webpage-name {
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
}

.portfolio__webpage-link {
  text-decoration: none;
  font-weight: normal;
  font-size: 30px;
  transition: opacity .2s;

}

.portfolio__webpage-link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1279px) {
  .portfolio {
    padding: 0 50px 90px;
  }

  .portfolio__webpage-name {
    font-size: 28px;
  }
}