.header__navigation {
  display: flex;
  align-items: center;
}

.header__link {
  margin-left: 20px;
  color: #000000;
  font-weight: normal;
  font-size: 14px;
  transition: opacity .2s;
}

.header__link_route_main {
  color: #FFFFFF;
  font-size: 12px;
}

.header__link_type_bold {
  font-weight: 500;
}

.header__link:hover {
  opacity: 0.7;
}

.header__link-button {
  margin-left: 30px;
  width: 76px;
  height: 32px;
  color: #000000;
  font-weight: 500;
  font-size: 12px;
  background-color: #2BE080;
  border: none;
  border-radius: 3px;
  transition: opacity .2s;
}

.header__link-button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.header__link-account-container {
  display: flex;
  align-items: center;
}

.header__link-account {
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  margin-left: 50px;
  transition: opacity .2s;
}

.header__link-account:hover {
  opacity: 0.7;
}

.header__link-icon-container {
  width: 30px;
  height: 30px;
  background-color: #F9F9F9;
  border-radius: 6px;
  display: flex;
  margin-left: 13px;
}

.header__link-icon {
  margin: auto;
  width: 10.5px;
}