.search {
  padding: 60px 70px 0;
}

.search__container {
  min-height: 46px;
  background-color: #F9F9F9;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
}

.search__input {
  margin-left: 22px;
  width: 93%;
  border: none;
  background: none;
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
}

.search__input:focus{
  outline: none;
}

.search__submit {
  display: flex;
  margin: 6px;
  width: 7%;
  border: none;
  background-color: #FF6838;
  border-radius: 48px;
  transition: opacity .3s;
}

.search__submit:hover {
  cursor: pointer;
  opacity: 0.6;
}

.search__icon {
  margin: auto;
}
