.header {
  background-color: #465DFF;
}

.header__header-container {
  min-height: 74px;
  margin: 0 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  height: 38px;
  width: 38px;
}